<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=systemgroupdemo;AccountKey=d0tRrzilZdWMIJ8FVhVmfpTiaKzbmjPA38oSX59LfiTW3eE4YkjnF3rEjk1v5SloXAM9Iu4/Y964syj5XLBQ6Q==" />
  </appSettings>
</configuration>