<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="FileName" value="C:\temp\311ServiceRequests.csv" />
    <add key="PartitionKeyField" value="SERVICE_REQUEST_LOCATION" />
    <add key="FileName" value="C:\temp\311ServiceRequests.csv" />
    <add key="AzureTableName" value="test" />  </appSettings>
</configuration>